body {
    background-color: darkslategrey;
}

.convertBlock {
    transform: translate(0px, 130px);
}

.convertBlockInner {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 250px;
    background-color: slategray;
    border-radius: 15px;
}
